<html>

<head>
    <title>회원 가입</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../css/group.css">
</head>

<body>
    <div class="center">
        <!-- <header class="header cfixed">
            <h1 class="logo"><a href="/main">JBU DRIVE</a></h1>
            <div id="loginwrap"> -->
        <h1>GROUP JOIN</h1>
        <form action='/groupJoin' method='post'>

            <table border='1'>
                <div class="txt_field">
                    <input type='text' name='groupId' placeholder="Group ID ">
                    <span></span>
                    <label for="">Group ID </label>
                </div>
                <div class="txt_field">
                    <input type='password' name='groupPw' placeholder="Group PW ">
                    <span></span>
                    <label for="">Group PW</label>
                </div>

                <div class="txt_field">
                    <input type='name' name='groupName' placeholder="NAME ">
                    <span></span>
                    <label for="">Group NAME</label>
                </div>
            </table>
            <div>
                <input type="submit" value="Sing UP">
            </div>
            <div></div>
    </div>
    </form>
    </div>
</body>

</html>