<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>JBU DRIVE</title>
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>
  <div class="center">
    <h1>Join Membership</h1>
    <form action="/memberJoin" method="post">
      <div class="txt_field">
        <input type="text" name='memberId' required>
        <span></span>
        <label>The ID you want</label>
      </div>
      <div class="txt_field">
        <input type="password" name='memberPw' required>
        <span></span>
        <label>The PW you want</label>
      </div>
      <div class="txt_field">
        <input type="name" name='memberName' required>
        <span></span>
        <label>The Name you want</label>
      </div>
      <input type="submit" value="Complete" type="submit">
      <div class="signup_link">
        <!--공백남겨두기-->
      </div>
    </form>
  </div>

</body>

</html>