<!DOCTYPE HTML>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>JBU DRIVE</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
</head>

<body>
  <div id="wrap">
    <header class="header cfixed">
      <h1 class="logo"><a href="/main">JBU DRIVE</a></h1>
      <nav>
        <ul class="gnb">
          <li>
            <form action="site2" method="post">
              <td>
                <%= loginMember %>님 안녕하세요.
              </td>
            </form>
          </li>
          <li><button onClick="location.href='/logout'">로그아웃</button></li>
        </ul>
      </nav>
    </header>

    <section class="content_section">
      <button class="accordion">이미지다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">이미지다운로드1</a></p>
        <p><a href="#" download="">이미지다운로드2</a></p>
        <p><a href="#" download="">이미지다운로드3</a></p>
        <p><a href="#" download="">이미지다운로드4</a></p>
        <p><a href="#" download="">이미지다운로드5</a></p>
      </div>

      <button class="accordion">동영상다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">동영상다운로드1</a></p>
        <p><a href="#" download="">동영상다운로드2</a></p>
        <p><a href="#" download="">동영상다운로드3</a></p>
        <p><a href="#" download="">동영상다운로드4</a></p>
        <p><a href="#" download="">동영상다운로드5</a></p>
      </div>

      <button class="accordion">GIF다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">gif다운로드1</a></p>
        <p><a href="#" download="">gif다운로드2</a></p>
        <p><a href="#" download="">gif다운로드3</a></p>
        <p><a href="#" download="">gif다운로드4</a></p>
        <p><a href="#" download="">gif다운로드5</a></p>
      </div>

      <button class="accordion">폴더다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">폴더다운로드1</a></p>
        <p><a href="#" download="">폴더다운로드2</a></p>
        <p><a href="#" download="">폴더다운로드3</a></p>
        <p><a href="#" download="">폴더다운로드4</a></p>
        <p><a href="#" download="">폴더다운로드5</a></p>
      </div>

      <button class="accordion">PDF다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">pdf다운로드1</a></p>
        <p><a href="#" download="">pdf다운로드2</a></p>
        <p><a href="#" download="">pdf다운로드3</a></p>
        <p><a href="#" download="">pdf다운로드4</a></p>
        <p><a href="#" download="">pdf다운로드5</a></p>
      </div>

      <button class="accordion">카카오톡이미지다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">카카오톡이미지다운로드1</a></p>
        <p><a href="#" download="">카카오톡이미지다운로드2</a></p>
        <p><a href="#" download="">카카오톡이미지다운로드3</a></p>
        <p><a href="#" download="">카카오톡이미지다운로드4</a></p>
        <p><a href="#" download="">카카오톡이미지다운로드5</a></p>
      </div>

      <button class="accordion">배경화면다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">배경화면다운로드1</a></p>
        <p><a href="#" download="">배경화면다운로드2</a></p>
        <p><a href="#" download="">배경화면다운로드3</a></p>
        <p><a href="#" download="">배경화면다운로드4</a></p>
        <p><a href="#" download="">배경화면다운로드5</a></p>
      </div>

      <button class="accordion">쿠폰다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">쿠폰다운로드1</a></p>
        <p><a href="#" download="">쿠폰다운로드2</a></p>
        <p><a href="#" download="">쿠폰다운로드3</a></p>
        <p><a href="#" download="">쿠폰다운로드4</a></p>
        <p><a href="#" download="">쿠폰다운로드5</a></p>
      </div>

      <button class="accordion">문서다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">문서다운로드1</a></p>
        <p><a href="#" download="">문서다운로드2</a></p>
        <p><a href="#" download="">문서다운로드3</a></p>
        <p><a href="#" download="">문서다운로드4</a></p>
        <p><a href="#" download="">문서다운로드5</a></p>
      </div>

      <button class="accordion">피피티다운로드▼</button>
      <div class="panel">
        <p><a href="#" download="">피피티다운로드1</a></p>
        <p><a href="#" download="">피피티다운로드2</a></p>
        <p><a href="#" download="">피피티다운로드3</a></p>
        <p><a href="#" download="">피피티다운로드4</a></p>
        <p><a href="#" download="">피피티다운로드5</a></p>
      </div>
    </section>

    <footer class="footer">
      <p class="copyright">JBU DRIVE</p>
    </footer>
  </div>
  <script src="js/accordion.js"></script>
</body>

</html>